<div class="container">
    <div class="Bienvenida">
        <h2>¡Bienvenido al Diccionario ES/EN! </h2>
        <p>Aquí podrás añadir nuevas definiciones, para luego editarlas 
            si fuera necesario. También puedes ver la lista de cada uno de ellos, 
            e incluso buscar en dicha lista una cierta definición.</p>
    </div>
    <div class="imagenes">
        <div class="img2">
            <img src="https://images.vexels.com/media/users/3/164599/isolated/lists/ce858535b77f22068049aca2457e59ad-circulo-de-icono-de-idioma-de-bandera-de-espana.png" alt="hola" class="img2" title="Español" routerLink="/espanol">
        </div>
        <div class="img1">
            <img src="https://images.vexels.com/media/users/3/163966/isolated/lists/6ecbb5ec8c121c0699c9b9179d6b24aa-circulo-de-icono-de-idioma-de-bandera-de-inglaterra.png" alt="hola" class="img1" title="Inglés" routerLink="/ingles">
        </div>
    </div>
</div>
<app-pie-pagina></app-pie-pagina>