
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 90px;
    margin-left: 230px;
    margin-right: 230px;
    box-shadow: 5px 0 5px 5px rgba(185, 185, 185, 0.452);
}
h2{
    margin-left: 380px;
}
p{
    margin: 20px;
}
.imagenes{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 15px;
    gap:8px;
}
.img2{
    width: 80px;
    height: 80px;
}
.img1{
    width: 80px;
    height: 80px;
}
h3{
    display: flex;
    justify-content: center;
}
.def{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 15px;
    gap:8px;
}
.esp{
    margin-left: 8px;
    border: 1px solid black
}
.ing{
    margin-right: 8px;
    border: 1px solid black
}
h4{
    display: flex;
    justify-content: center;
}
app-pie-pagina{
    display: flex;
    justify-content: center;
    padding-top: 600px;
}