<p></p>
<div class="cab">
    <div class="boton-menu">
        <div>
            <button routerLink="/ingles" title="Atrás">Volver</button>
        </div>
    </div>
    <div class="palabra">
        <b><a>NUEVA PALABRA</a></b>
    </div>
</div>
<p></p>
<div class="formulario">
    <form [formGroup]='registerForm1'>
        <a>Campos obligatorios (*)</a>
        <div class="formu">
            <div class="pal">
                <mat-form-field class="palabra" apperance="fill">
                    <mat-label for="palabra">Palabra </mat-label>
                    <input matInput formControlName="palabra" required>
                </mat-form-field>
                <div class="errorpal">
                    <span *ngIf='validacionCampos("palabra")'>
                        <i>Introduce una palabra </i>
                    </span>
                </div>
            </div>
            <div class="pal2">
                <mat-form-field class="palabra" apperance="fill">
                    <mat-label for="palabra">Palabra Español </mat-label>
                    <input matInput formControlName="palabra" required>
                </mat-form-field>
                <div class="errorpal">
                    <span *ngIf='validacionCampos("palabra")'>
                        <i>Introduce una palabra de 1 a 23 caracteres</i>
                    </span>
                </div>
            </div>
        </div>
    </form>
    
    
    <div class="boxboton">
        <div class="boxcrear">
            <div *ngIf="this.pulsado1"> 
                <button class="submit"  type="button" title="Crear palabra" (click)="guardar1()">Enviar</button>
            </div>
        </div>
        <div class="boxlimpiar">
            <button class="limpia" type="button" title="Limpiar campos" (click)="clean()">Limpiar</button>
        </div>
    </div>
</div>

  