:host {
    display: flex;
    justify-content: center;
    padding: 100px 0;
}
.all{
    padding-bottom: 210px;
}
.volver{
    color: white;
}
.register{
    color: rgb(231, 230, 230);
}
mat-card{
    background-color: #176bbeda;
}
.mat-form-field{
    width: 100%;
    min-width: 300px;
}
mat-card-title{
    display: flex;
    justify-content:space-between;
}
mat-card-title button{
    width: 20%;
    border: none;
    background-color: rgba(255, 255, 255, 0);
}
mat-card-content{
    display: flex;
    justify-content: center;
}
button{
    width: 100%;
}
