:host {
    display: flex;
    justify-content: center;
    padding: 100px 0;
}
.all{
    padding-bottom: 210px;
}
.volver{
    color: white;
}
.register{
    color: rgb(231, 230, 230);
}
mat-card{
    background-color: #176bbeda;
}
.mat-form-field{
    width: 100%;
    min-width: 300px;
}
mat-card-title{
    display: flex;
    justify-content:space-between;
}
mat-card-title button{
    width: 20%;
    border: none;
    background-color: rgba(255, 255, 255, 0);
}
mat-card-content{
    display: flex;
    justify-content: center;
}

.button-row{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.btn-google{
    background-color: white;
    border-radius: 55px;
    border: white;
}
mat-card-content{
    .btn{
        align-items: center;
        width: auto;
        display: flex;
        justify-content: space-between;
        .go{
            a{
                color: rgba(0, 0, 0, 0.445);
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: white;
            }
        }
        .log{
            width: 20%;
            border: none;
            color: white;
            background-color: rgba(255, 255, 255, 0);
        }
    }
}
button {
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.582);
    font-size: 13px;
    display: flexbox;
  
  }
  button:hover {
    background-color: #b2bdb8d8;
    color: white;
  }
  button:disabled {
    background-color: #eee;
    color: rgb(170, 170, 170);
    cursor: auto;
  }