<!-- Toolbar -->
<ng-container  *ngIf= "registrado == false; else login">
    <div class="toolbar" role="banner"> 
        <div class="menu">
            <nav>
                <div class="opciones">
                    <a routerLink="">
                        <img width="40" height="50" title="Página inicial" alt="Diccionario Logo" class="logo"
                    src="https://image.winudf.com/v2/image1/Y29tLm1lbmEuZGljY2lvbmFyaW9lc3Bhbm9sbWlza2l0b19pY29uXzE1ODQ1Nzc2NzJfMDM0/icon.png?w=170&fakeurl=1"
                    />
                    <span title="Página inicial">Diccionario ES/EN</span>
                    </a>
                </div>
                
                <div class="login">
                    <a title="Login" routerLink="/login"><mat-icon>account_circle</mat-icon></a>
                </div>
            </nav>
        </div>
        
    </div>
</ng-container>

<ng-template #login>
    <div class="toolbar" role="banner">
        <div class="menu">
            <nav>
                <div class="opciones">
                    <a routerLink="">
                        <img width="40" height="50" title="Página inicial" alt="Diccionario Logo" class="logo"
                    src="https://image.winudf.com/v2/image1/Y29tLm1lbmEuZGljY2lvbmFyaW9lc3Bhbm9sbWlza2l0b19pY29uXzE1ODQ1Nzc2NzJfMDM0/icon.png?w=170&fakeurl=1"
                    />
                    <span title="Página inicial">Diccionario ES/EN</span>
                    </a>
                    <a title="Español" [routerLink]="['espanol']">ESPAÑOL</a>
                    <a title="Inglés" routerLink="/ingles">ENGLISH</a>
                </div>
                
                <div class="cerrar">
                    <a  title="Cerrar sesión" (click)="cerrar()"><mat-icon> person_pin_circle</mat-icon></a>
                </div>
            </nav>
        </div>
        
    </div>
</ng-template>
