
 .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

.logo {
    height: 50px;
    width: 50px;
  }

  a{
    background-color: rgba(0, 0, 0, 0);
}
.menu{
  display: flex;
  align-items: center;
  justify-content: left;
}
nav{
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: left;
    list-style-type: none;
    gap:8px;
}
.opciones{
  display: flex;
  flex-direction: row;
}
.menu nav a{
    display: flex;  
    color:white;
    text-align: left;
    text-decoration: none;
    font-size: 12px;
}
h2{
  margin-top: 12px;
}
.login{
  display: flex;  
    color:white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 12px;
}
.cerrar{
  display: flex;  
    text-align: left;
    text-decoration: none;
    font-size: 12px;
}
.dic {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 8px;
  height: auto;
}
