
 .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 4px 10px;
  }

  a{
    background-color: rgba(0, 0, 0, 0);
}
.menu nav{
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: left;
    margin-top: 10px;
    list-style-type: none;
}
.opciones{
  display: flex;
  justify-content: left;
  flex-direction: row;
  align-items: left;
  margin-top: 10px;
  list-style-type: none;
}
.menu nav a{
    display: flex;  
    color:white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 12px;
}
.menu nav a img{
  margin-top: -10px;
}
p{
  margin-top: 80px;
  margin-left: 20px
}
.login{
  display: flex;  
    color:white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 12px;
    margin-bottom: 10px;
}
.cerrar{
  display: flex;  
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 12px;
    margin-bottom: 10px;
}
