<!-- Toolbar -->
<ng-container  *ngIf= "esta == false; else login">
    <div class="toolbar" role="banner"> 
        <div class="menu">
            <nav>
                <div class="opciones">
                    <a routerLink="">
                        <img width="40" height="50" title="Página inicial" alt="Diccionario Logo" class="logo"
                    src="https://image.winudf.com/v2/image1/Y29tLm1lbmEuZGljY2lvbmFyaW9lc3Bhbm9sbWlza2l0b19pY29uXzE1ODQ1Nzc2NzJfMDM0/icon.png?w=170&fakeurl=1"
                    />
                    </a>
                    <h2 title="Página inicial"routerLink="/">Diccionario ES/EN</h2>
                    
                </div>
                
                <div class="login">
                    <button title="Menú usuario" mat-button [matMenuTriggerFor]="menu" #menuTrigger><mat-icon>account_circle</mat-icon></button>
                    <mat-menu class="customize" #menu="matMenu">
                        <button mat-menu-item style="cursor: pointer; color: white; display: flex; justify-content: center;" title="Inicar sesión" routerLink="/login">
                           <a><mat-icon >login</mat-icon></a>
                           <a>Iniciar sesión</a>
                        </button>
                        <button mat-menu-item style="cursor: pointer; color: white; display: flex; justify-content: center;" title="Registrar" routerLink="/register">
                            <a><mat-icon>person_add</mat-icon></a>
                           <a>Registrar</a>
                        </button>
                    </mat-menu>
                </div>
            </nav>
        </div>
        
    </div>
</ng-container>

<!-- Navegación si ha iniciado sesión -->
<ng-template #login>
    <div class="toolbar" role="banner">
        <div class="menu">
            <nav>
                <div class="opciones">
                    <a routerLink="">
                        <img width="40" height="50" title="Página inicial" alt="Diccionario Logo" class="logo"
                    src="https://image.winudf.com/v2/image1/Y29tLm1lbmEuZGljY2lvbmFyaW9lc3Bhbm9sbWlza2l0b19pY29uXzE1ODQ1Nzc2NzJfMDM0/icon.png?w=170&fakeurl=1"
                    />
                    <h2 class="dic" title="Página inicial" routerLink="/">Diccionario ES/EN</h2>
                    </a>
                    <a class="dic" title="Español" [routerLink]="['espanol']">ESPAÑOL</a>
                    <a class="dic" title="Inglés" routerLink="/ingles">ENGLISH</a>
                </div>
                
                <div class="cerrar">
                    <button title="Menú usuario" mat-button [matMenuTriggerFor]="menu" #menuTrigger><mat-icon>how_to_reg</mat-icon></button>
                    <mat-menu class="customize" #menu="matMenu">
                        <button mat-menu-item style="cursor: pointer; color: white; display: flex; justify-content: center;"
                         title="Cerrar sesión" (click)="cerrar()">
                         <a><mat-icon>clear</mat-icon></a>
                         <a>Cerrar sesión</a>
                        </button>
                    </mat-menu>
                </div>
            </nav>
        </div>
        
    </div>
</ng-template>
