
<div class="tarjeta">
    <div class="dato-tarjeta">
        <div class="titulo">
            <div class="palabra">
                <b>{{objetoword.palabra}}</b>
            </div>
        </div>
        <div class="detalles">
            <div class="palabraEspanol">
                {{objetoword.palabraEspanol}}
            </div>
            <div class="fecha-alta">
                {{objetoword.fechaAlta | date:'dd-MM-yyyy HH:mm'}} 
            </div>
            <div class="fecha-modif">
                {{objetoword.fechaModificacion | date:'dd-MM-yyyy HH:mm'}}
            </div>
            
        </div>
    </div>
    <div class="boxbotones">
        <button class="submit" color="warn" title="Editar palabra" [routerLink]="['/ingles', objetoword.palabra]">
            Editar
        </button>
        <button class="borra" color="warn" title="Borrar palabra" (click)="borrarWord()">
            Borrar
        </button>
    </div>
</div>