
.tarjeta{
    display: flex;
    justify-content: right;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
    background-color: none;;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 5px 0 5px 5px rgba(185, 185, 185, 0.452);
    gap:10px;
}
.dato-tarjeta{
    display: flex;
    justify-content: right;
    flex-direction: row;
    margin-top: 3px;
    gap: 15px;
}
.detalles{
    display: flex;
    justify-content: right;
    flex-direction: row;
    margin-left: 8px;
    margin-right: 5px;
    gap: 30px;
}
.fechas{
    display: flex;
    justify-content: right;
    flex-direction: column;
    margin-right: 5px;
    gap: 30px;
}
.boxbotones{
    display: flex;
    justify-content:flex-end;
    margin-right: 12px;
    margin-left: 5px;
    margin-bottom: 10px;
}
button{
    border: none;
    background-color: white;

}
.submit {
    background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    color: rgba(58, 119, 58, 0.705);
    height: 24px;
    width: 24px;
    margin-right: 10px;
}
.borra {
    background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    color: rgba(220, 20, 60, 0.781);
    height: 24px;
    width: 24px;
}