<div class="all">
    <div class="card">
        <mat-card>
            <mat-card-title>
                <div class="palabra">
                    <h3>NUEVA PALABRA</h3>
                </div>
            </mat-card-title>
            <mat-card-content>
                <div class="formulario">
                    <div class="boton-menu">
                        <button class="volver" routerLink="/espanol" title="Atrás">
                            <mat-icon>arrow_back</mat-icon>
                        </button>
                    </div>
                    <form [formGroup]='registerForm'>
                        <a>Campos obligatorios (*)</a>
                        <div class="formu">
                            <div class="pal">
                                <mat-form-field>
                                    <input type="text" matInput placeholder="Palabra" formControlName="palabra">
                                </mat-form-field>
        
                                <div class="errorpal">
                                    <span *ngIf='validacionCampos("palabra")'>
                                        <i>Introduce una palabra de 1 a 23 caracteres</i>
                                    </span>
                                </div>
                            </div>
                            <div class="desc">
                                <mat-form-field class="descripcion" appearance="fill">
                                    <mat-label for="despcricion">Descripción </mat-label>
                                    <input matInput formControlName="descripcion" required>
                                </mat-form-field>
                                <div class="errorpal">
                                    <span *ngIf='validacionCampos("descripcion")'>
                                        <i>Introduce una descripcion</i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </form>
                    
                    
                    <div class="boxboton">
                        <div class="boxlimpiar">
                            <button class="limpia" type="button" title="Limpiar campos" (click)="limpiar()">
                                <mat-icon>clear</mat-icon>
                            </button>
                        </div>
                        <div class="boxcrear">
                            <div *ngIf="this.pulsado"> 
                                <button class="submit"  type="button" title="Crear palabra" (click)="guardar()">
                                    <mat-icon>send</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <app-pie-pagina></app-pie-pagina>
</div>
 

  