:host {
  display: flex;
  justify-content: center;
  padding: 100px 0;
  }
  .all{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap:100px;
  }
  .card{
    padding-bottom: 100px;
  }
  mat-card{
  background-color: rgba(255, 255, 255, 0);
  margin-left: 590px;
  margin-right: 590px;
  background-color: #1976d294;
  }
  .mat-form-field{
  width: 100%;
  min-width: 300px;
  }
  mat-card-title{
  display: flex;
  justify-content:center;
  }
  mat-card-content{
  display: flex;
  justify-content: center;
  }
  .volver{
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  border: none;
  background-color:rgba(0, 0, 128, 0);
  color:white;
  height: 24px;
  width: 24px;
  margin-right: 10px;
  }
  .palabra{
    display: flex;
    justify-content: center;
    gap: 15px;
  
    h3{
      color: white;
    }
  }
  .formulario{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    color: black;
    border-radius: 4px;
    width: 400px;
    margin-top: -50px;
    gap:18px;
  }
  form{
  display: flex;
  flex-direction: column;
  }
  form a{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 10px;
  color: crimson;
  }
  .palabra{
  margin-top:12px;
  margin-bottom:12px;
  color: black;
  }
  .palabra input{
  background-color: white;
  }
  .description{
  margin-top:12px;
  margin-bottom:12px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 5px 5px 0 rgb(185, 185, 185) 
  }
  .description input{
  background-color: white;
  }
  mat-label{
   color:rgb(255, 255, 255)
  }
  
  .errorpal{
  display: flex;
  justify-content: left;
  flex-direction: row;
  color: crimson;
  font-size: 10px;
  margin-left:12px;
  
  }
  .boxboton{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 90px;
  margin-bottom: 8px; 
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0);
  }
  
  .submit{
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  border: none;
  background-color:rgba(0, 0, 128, 0);
  color: white;
  height: 24px;
  width: 24px;
  margin-right: 10px;
  }
  .limpia{
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  border: none;
  background-color:rgba(0, 0, 128, 0);
  color: white;
  height: 24px;
  width: 24px;
  margin-right: 10px;
  }
  mat-form-field{
    display: flex;
  justify-content: center;
  }
  app-pie-pagina{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 30px;
    background-color:  rgba(69, 127, 253, 0.226);
}