p{
  margin-top: 70px;
  margin-left: 20px;
}
.all{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap:100px;
}
.act{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  background-color: #1976d2;
  border-top: 1px solid rgba(255, 255, 255, 0.342);
  width: 100%;
  gap: 10px;
}
.caja{
  border: black solid 2px;
}
.acceso{
  display: flex;
  justify-content: center;
  align-items: center;
}
.palabra{
  margin-top: 5px;
}
.boton-menu{
  display: flex;
  justify-content: right;
  flex-direction: column;
  gap: 15px;
}

.mat-icon{
  background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    color: rgba(0, 0, 0, 0.582);
    height: 24px;
    width: 24px;
}
.volver{
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  border: none;
  background-color:rgba(0, 0, 128, 0);
  color:rgba(58, 69, 119, 0.705);
  height: 24px;
  width: 24px;
  margin-right: 10px;
}
.form-lista{
  display: flex;
  justify-content: flex;
  
}
.dato-fila{
  display: flex;
  justify-content: center;
  width: auto;
  margin-bottom: 10px;
  flex-wrap: wrap;
}
.detalles{
  display: flex;
  justify-content: right;
  flex-direction: row;
  gap: 30px;
}
.nowords{
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  color: crimson;
  margin-top: 120px;
}

app-pie-pagina{
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 30px;
  background-color:  rgba(69, 127, 253, 0.226);
}