<mat-card>
    <mat-card-title>Registrar nuevo usuario</mat-card-title>
    <a class="volver" title="volver" routerLink="/login"><mat-icon>arrow_back</mat-icon></a>
    <mat-card-content>
        <form action="">
            <p>
                <mat-form-field>
                    <input type="text" matInput placeholder="Username">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <input type="text" matInput placeholder="Nombre">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <input type="text" matInput placeholder="Apellido">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <input type="number" matInput placeholder="Edad">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <input type="password" matInput placeholder="Password">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <input type="password" matInput placeholder="Repite password">
                </mat-form-field>
            </p>
            <button title="Crear" type="submit" mat-raiser-button color="primary">Login</button>
        </form>
    </mat-card-content>
</mat-card>